@import '~katex/dist/katex.css';
@import './styles/variables.scss';
@import './styles/page.scss';

html {
    @include font;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: $light-blue;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 18rem;
    box-sizing: border-box;
}

.sidebar {
    width: 18rem;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    &__header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        a {
            color: $font-color;
            padding: 0 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            @include font;
            width: 100%;
            padding: 0.25rem;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid $page-border-color;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0;
        overflow-y: auto;
        flex-grow: 1;

        .search-result {
            padding: 0.25rem 0.5rem;
            box-sizing: border-box;
            overflow: hidden;
            cursor: pointer;
            &__match {
                padding: 0.25rem 0;
            }
            &.active a {
                background: $darker-blue;
            }
            &:hover {
                background: $darker-blue;
            }
            &.create {
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center;
                a {
                    color: $font-color;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            a {
                display: block;
                box-sizing: border-box;
                padding: 0.25rem 0;
                border-radius: 3px;
                &:hover {
                    text-decoration: none;
                }
                span {
                    display: block;
                    color: $font-color;
                    overflow: hidden;
                    &:first-child {
                        color: $internal-link-color;
                    }
                }
            }
        }
    }
}

.notifications {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    .notification {
        padding: 1rem 2rem;
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-top: 0.5rem;
        &--success {
            background: #28a745;
        }
        &--error {
            background: #dc3545;
        }
    }
}

a,
a:visited {
    color: $internal-link-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.external,
a.external:visited {
    color: #6e54ba;
}
a.missing {
    color: #d32f2f;
}
a.current {
    font-weight: bold;
}

.page {
    position: relative;

    .edit-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    blockquote {
        margin: 0;
        border-left: 4px solid #dcdcdc;
        padding-left: 4px;
    }

    p {
        margin: 0;
    }

    h1 {
        margin-top: 0;
    }
}

.editor {
    @include font;
    width: 100%;
    display: block;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: yellow;
    overflow: hidden;
    padding: 0;

    &:focus {
        outline: none;
    }
}
