@import '~katex/dist/katex.css';

@mixin font() {
    color: $font-color;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}
$page-border-color: rgba(0, 40, 100, 0.12);
$font-color: #383838;
$light-blue: #f5f7fb;
$darker-blue: rgba(70, 127, 207, 0.06);
$dark-blue: #467fcf;
$internal-link-color: #007bff;

html {
    @include font;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: $light-blue;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 18rem;
    box-sizing: border-box;
}

.sidebar {
    width: 18rem;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    &__header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        a {
            color: $font-color;
            padding: 0 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            @include font;
            width: 100%;
            padding: 0.25rem;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid $page-border-color;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0;
        overflow-y: auto;
        flex-grow: 1;

        .search-result {
            padding: 0;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 0 0 0.25rem;
            &__match {
                padding: 0.25rem 0.5rem;
            }
            &.active a {
                background: $darker-blue;
            }
            &:hover {
                background: $darker-blue;
            }
            &.create {
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: center;
                a {
                    color: $font-color;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            a {
                display: block;
                box-sizing: border-box;
                padding: 0.5rem;
                border-radius: 3px;
                &:hover {
                    text-decoration: none;
                }
                span {
                    display: block;
                    color: $font-color;
                    overflow: hidden;
                    &:first-child {
                        color: $internal-link-color;
                    }
                }
            }
        }
    }
}

.notifications {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    .notification {
        padding: 1rem 2rem;
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-top: 0.5rem;
        &--success {
            background: #28a745;
        }
        &--error {
            background: #dc3545;
        }
    }
}

a,
a:visited {
    color: $internal-link-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.external,
a.external:visited {
    color: #6e54ba;
}
a.missing {
    color: #d32f2f;
}
a.current {
    font-weight: bold;
}

.editor {
    @include font;
    width: 100%;
    display: block;
    box-sizing: border-box;
    resize: none;
    border: 0;
    background: yellow;
    overflow: hidden;
    padding: 0;

    &:focus {
        outline: none;
    }
}

.page {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $page-border-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 3px;
    width: 50rem;
    position: relative;

    .edit-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__header {
        display: flex;
        flex-direction: row;

        h1 {
            margin: 0;
            font-size: 2rem;
            font-weight: bold;
            flex-grow: 1;

            input {
                border: 0;
                padding: 0;
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
                &:focus {
                    outline: none;
                }
                &:disabled {
                    background: #fff;
                }
            }

            a {
                color: $font-color;
            }
        }

        .date-link {
            padding: 0 0.5rem;
            color: $font-color;
        }

        button {
            border: none;
            background: #fff;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
        }
    }

    &__actions {
        position: relative;
        .page__action-list {
            display: none;
            button {
                @include font;
                padding: 0.5rem;
                display: block;
                width: 100%;
                text-align: left;
                &:hover {
                    background: $page-border-color;
                }
            }
        }
        button {
            cursor: pointer;
        }
        &--open {
            .page__action-list {
                display: block;
                position: absolute;
                right: 0;
                top: calc(100% - 0.5rem);
                width: 5rem;
                border: 1px solid $page-border-color;
                border-radius: 3px;
                padding: 0.5rem;
                background: #fff;
                z-index: 10;
            }
        }
    }

    &--raw {
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
        button {
            @include font;
            background: $darker-blue;
            border: 1px solid $dark-blue;
            border-radius: 3px;
            padding: 0.25rem 1rem;
            margin-top: 1rem;
            margin-left: 0.5rem;
            cursor: pointer;
            color: $internal-link-color;
        }
    }

    .blocks {
        margin: 0;
        list-style: disc;
    }

    p {
        margin: 0;
    }

    h1 {
        margin-top: 0;
    }
}

.block {
    position: relative;
    margin: 3px 0;

    &__content {
        &:empty::before {
            content: '\200B';
        }
    }

    &__inner {
        position: relative;
    }

    blockquote {
        margin: 0;
        border-left: 4px solid $page-border-color;
        padding-left: 4px;
    }

    input[type="checkbox"] {
        margin-right: 8px;
    }

    code {
        background: #f3f3f3;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 2px 5px;
        font-family: monospace;
        white-space: nowrap;
        font-size: 0.8rem;
    }
}

.title-editor {
    @include font();
    border: none;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.autocomplete {
    position: absolute;
    width: 12rem;
    max-height: 20rem;
    left: 50%;
    margin-left: -6rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 20;
    list-style: none;
    padding: 0;
    border: 1px solid  #ddd;

    li {
        padding: 0.5rem;
    }
}